opencv-python==4.8.0.76
numpy
tqdm
librosa
numba
imutils
onnxruntime-gpu==1.21.0
runpod>=1.6.0
minio>=7.0.0
requests
scikit-image
Pillow
matplotlib
scipy
easydict
cython
insightface==0.7.3
